p {
font-size 80%;
font-style: italic;
}
h2 {
font-family: cooper black; text-align: Center;
}
h4 {
font-family: arial; 
text-align: Center;
color: blue;
}
em {
color: red;
font-weight: bolder;
}
